*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  font-family: '맑은고딕', Helvetica, Arial
  font-size: 13px
  line-height: 1.5

input
  padding: 10px


.wrap-chat-room
  position: fixed
  overflow-y: auto
  display: none
  top: 0
  bottom: 40px
  padding: 15px 0
  width: 100%
  background: #424242
  color: white
  .broadcast
    text-align: center
  .typing-bradcasting
    position: fixed
    border: 1px solid white
    width: 100%
    height: 30px
    bottom: 40px

form.room-create-form
  width: 565px
  margin: 100px auto
  input
    border: 1px solid #bbb
    margin-bottom: 10px

form.message-form
  background: #969696
  padding: 3px
  position: fixed
  bottom: 0
  width: 100%

  input
    border: 0
    width: 90%
    margin-right: 0.5%

  .btn-message-send
    width: 9%
.btn-primary
  padding: 5px 10px
  background: #FF5722
  border: none
  color: white
  font-size: 16px
  line-height: 23px



#messages
  list-style-type: none
  margin: 0
  li
    display: block
    margin-bottom: 20px
    text-align: left
    font-size: 18px
  li.broadcast-area
    text-align: center
  li.self
    text-align: right
    .text
      margin-right: 30px
      background: #40C4FF
    .tail
      left: initial
      right: -28px
      border-color: transparent transparent transparent #40C4FF
    .nickname
      display: none
  li.self.secret, li.others.secret
    .text
      background: #333
      opacity: 0.8
      color: #ddd
  li.others.secret
    .tail
      border-color: transparent #333 transparent transparent
  li.self.secret
    .tail
      border-color: transparent transparent transparent #333
  .text
    position: relative
    display: inline-block
    max-width: 70%
    padding: 10px 15px
    margin-left: 30px
    border-radius: 20px
    background: #F4B400
    color: white
  .tail
    position: absolute
    left: -28px
    top: 4px
    display: inline-block
    width: 0
    height: 0
    border-style: solid
    border-width: 20px
    border-color: transparent #F4B400 transparent transparent

#createRoom
  width: 100%
