@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: '맑은고딕', Helvetica, Arial;
  font-size: 13px;
  line-height: 1.5; }

input {
  padding: 10px; }

.wrap-chat-room {
  position: fixed;
  overflow-y: auto;
  display: none;
  top: 0;
  bottom: 40px;
  padding: 15px 15px 15px 0;
  width: 100%;
  background: #424242;
  color: white; }
  .wrap-chat-room .broadcast {
    text-align: center;
    text-align: right;
  }
  .wrap-chat-room .typing-bradcasting {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 40px;
    padding-right: 15px;
  }

form.room-create-form {
  width: 565px;
  margin: 100px auto; }
  form.room-create-form input {
    border: 1px solid #bbb;
    margin-bottom: 10px; }

form.message-form {
  background: #969696;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%; }
  form.message-form input {
    border: 0;
    width: 90%;
    margin-right: 0.5%; }
  form.message-form .btn-message-send {
    width: 9%; }

.btn-primary {
  padding: 5px 10px;
  background: #FF5722;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 23px; }
.btn-leave {
  background: #fdd22d;
  padding: 5px;
  color: #585858;
  border: 0;
  font-weight: bold;
  border-radius: 3px;
}
#messages {
  list-style-type: none;
  margin: 0; }
  #messages li {
    display: block;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px; }
  #messages li.broadcast-area {
    text-align: center; }
  #messages li.self {
    text-align: right; }
    #messages li.self .text {
      margin-right: 30px;
      background: #40C4FF; }
    #messages li.self .tail {
      left: initial;
      right: -28px;
      border-color: transparent transparent transparent #40C4FF; }
    #messages li.self .nickname {
      display: none; }
  #messages li.self.secret .text, #messages li.others.secret .text {
    background: #333;
    opacity: 0.8;
    color: #ddd; }
  #messages li.others.secret .tail {
    border-color: transparent #333 transparent transparent; }
  #messages li.self.secret .tail {
    border-color: transparent transparent transparent #333; }
  #messages .text {
    position: relative;
    display: inline-block;
    max-width: 70%;
    padding: 10px 15px;
    margin-left: 30px;
    border-radius: 20px;
    background: #F4B400;
    color: white; }
  #messages .tail {
    position: absolute;
    left: -28px;
    top: 4px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px;
    border-color: transparent #F4B400 transparent transparent; }

#createRoom {
  width: 100%; }
